<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="teamcity-address" value="an address" />
    <add key="teamcity-username" value="a username" />
    <add key="teamcity-password" value="a password" />
    <add key="teamcity-usessl" value="false" />
    <add key="buildscreen-url" value="http://*:9000" />
  </appSettings>
</configuration>